<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <title>Participants</title>-->
<!--    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">-->
<!--</head>-->
<!--<body class="container mt-5">-->

<!--<h2>Event Participants</h2>-->

<!--<table class="table table-bordered">-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <th>User Name</th>-->
<!--        <th>Email</th>-->
<!--        <th>Booking Date</th>-->
<!--    </tr>-->
<!--    </thead>-->

<!--    <tbody>-->
<!--    <tr th:each="b : ${bookings}">-->
<!--        <td th:text="${b.user.name}"></td>-->
<!--        <td th:text="${b.user.email}"></td>-->
<!--        <td th:text="${b.bookingDate}"></td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--</table>-->

<!--</body>-->
<!--</html>-->
